<!doctype html>
<html lang="jp">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"> 
		<meta property="fb:app_id" content="1421033384776672" />
		<meta property="og:url" content="http://icecreamstand.ca" />
		<meta property="og:image" content="http://icecreamstand.ca/img/thumb.png" />
		<meta property="og:title" content="Ice Cream Stand">
		<meta property="og:description" content="Free Browser game where you sell delicious delicious ice cream. Open up a stand, buy workers, unlock flavors.">
		<meta property="og:type" content="website" />
		<meta name="description" content="Ice Cream Stand, an incremental browser game in a global economy. Open up an ice cream stand and sell ice cream. Unlock flavors, upgrades, workers and more!" />
		<link rel="icon" type="image/png" href="http://static.icecreamstand.ca/favicon.png" />
		<title>アイスクリーム・スタンド</title>
	</head>
	<body>
	<link rel="stylesheet" href="<%= (!locals.release_channel || release_channel > 0)? 'https://s3.amazonaws.com/icecreamstand.com/common.css.gz?patch=135' : 'http://static.icecreamstand.ca/common.css.gz' %>" />
	<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="http://static.icecreamstand.ca/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="https://s3.amazonaws.com/icecreamstand.com/main<%= (locals.release_channel)? release_channel : 0 %>.js.gz?patch=135"></script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-44957881-1', 'icecreamstand.ca');
	  ga('send', 'pageview');
	</script>
	<canvas id="canvas_main" style="width: 100%; position: fixed; height: 100%;"></canvas>
	<div class="section-side">
				<div class="icecream">
					<div id="glow"></div>
					<div id="topping"></div>	
					<canvas id="canvas_sales"></canvas>
				</div>
			<div class="sell_value">
				<div class="current_flavor tooltip" x-type="value"></div><span class="current_value"></span>
			</div>

	</div>
	<div class="section-main">
		<div class="shop_leftend"></div>
		<div class="shop_rightend"></div>
		<div class="section-main-inner">
			<h1><img src="http://static.icecreamstand.ca/icslogo.png" /></h1>
			<div class="highscores main_container">
					<h4>リーダーボード
						<span class="container_controls">
							<div class="refresh_highscores flavor_tab">>リフレッシュ</div>
							<div class="flavor_tab" id="hide">-</div>
						</span>		
					</h4>
					<div class="button_container">
						<div>
							<div class="flavor_tab active" id="this_day">今日</div>
							<div class="flavor_tab" id="this_week">週</div>
							<div class="flavor_tab" id="all_time">すべての時間</div>
							<div class="flavor_tab" id="prestige">威信</div>
							<div class="flavor_tab" id="referral">紹介</div>
						</div>
						<div>
							<div class="flavor_tab active" id="top_10">トップ10</div>
							<div class="flavor_tab" id="top_100">トップ100</div>
						</div>
						</div>
					<ol></ol>
			</div>
			<div class="flavor main_container">  
				<h4>アイスクリーム
						<span class="container_controls">
							<div class="flavor_tab" x-id="main_franken" id="frankenflavour_tab" style="display:none;">フランケンシュタイン</div>
							<div class="flavor_tab active" x-id="main_base">フレーバー</div>
							<div class="flavor_tab" x-id="main_addon">アドオン</div>
							<div class="flavor_tab" x-id="main_cone">コーン</div>
							<div class="flavor_tab" x-id="main_combo">コンボ</div>
							<a class="expand">+</a>
						</span>
				</h4>
					<div id="main_base" class="inner_flavor_container"></div>
					<div id="main_addon" class="inner_flavor_container"></div> 
					<div id="main_combo" class="inner_flavor_container"></div> 
					<div id="main_cone" class="inner_flavor_container"></div> 
			</div><div class="quests main_container half_size">
					<h4>クエスト
					<span class="container_controls">
						<a class="expand">+</a>
					</span></h4>
					<div class="quest_list"></div>
				</div><div class="trending_and_events main_container half_size hidden">
					<h4>イベントと動向</h4>

					<div class="event">
						<div class="event_container">
							<span id="event_name"></span>
							<span id="trend_time"></span>
						</div>
					</div>

					<div class="trending">
						<div class="trending_container">
							<div class="trending_info">
								<span class="currently_trending_container"></span>
								<div class="vote_container" x-type="vote"></div>
								<div id="trend_sold_outer"><div id="trend_left"></div><div id="trend_sold_inner"></div></div>
							</div>
							<div class="trend_title tooltip" x-type="trending"></div>
							<span id="trend_time">
								<span id="trend_bonus"></span>
							</span>
						</div>
					</div>

			</div><div class="achievements main_container half_size" style="display: none;">
					<h4>実績
					<span class="container_controls">
						<a class="expand">+</a>
					</span></h4>
					<div>
						<div class="achievement_list">
							<table class="unlocked"></table>
							<table class="locked" style="display: none;"></table>
						</div>
					</div>
				</div><div class="chat main_container">
					<h4>チャット
					<span class="container_controls">
						<a class="expand">+</a>
					</span></h4>
					<div class="chat_container_main">
						<div id="chat_window">
						</div>
						<form id="new_message" method="POST" action="chat">
							<div class="badge_selector"><div class="badge_inner"><b>バッジ</b> <span class="triangle-down"></span></div></div><input type="text" name="text" maxlength="240" placeholder="what would you like to say" autocomplete="off">
							<input type="submit" class="button" value="Send">
						</form>
					</div>
				</div>
				<span class="footer">
					<a href='#' id="invite" class="button">友達を招待</a>
					<a href='mailto:avonwodahs+icecream@gmail.com' class='send_feedback button' target="_blank">フィードバックをお持ちですか？</a>
					<p>
						便利なリンク: 
						<a href="http://www.reddit.com/r/icecreamstand/" target="_blank">表示する</a>
						<a href="http://icecreamstand.wikia.com" target="_blank">ウィキ</a>
					</p>
					<span id="version_info"></span>
				</span>
		</div>
	</div>
	<div class="section-side" id="upgrades">
			<div class="section_inner">
				<div class="tab active" id="flavors">フレーバー</div><div class="tab" id="toppings">アドオン</div><div class="tab locked" id="employees">労働者</div><div class="tab" id="cones">コーン</div><div class="tab" id="upgrades">アップグレード</div>
				<div class="employees_inner" style="display: none;">
					<div class="unlockable" id="unlock_cart" x-type="sales_cart">
						<img x-src="http://static.icecreamstand.ca/cart_thumb.png"><div class="unlock_text">カート<span class="cost">25</span ></div><div class="sale_level"></div>
						<button x-amount="1" class="worker_increment">+1</button><button x-amount="10" class="worker_increment">+10</button><button x-amount="1000" class="worker_increment">マックス</button></div>
					<div class="unlockable" id="unlock_employee" x-type="sales_employee">
						<img x-src="http://static.icecreamstand.ca/employee_thumb.png"><div class="unlock_text">従業員<span class="cost">200</span></div><div class="sale_level"></div>
						<button x-amount="1" class="worker_increment">+1</button><button x-amount="10" class="worker_increment">+10</button><button x-amount="1000" class="worker_increment">マックス</button></div>
					<div class="unlockable" id="unlock_truck" x-type="sales_truck">
						<img x-src="http://static.icecreamstand.ca/truck_thumb.png"><div class="unlock_text">トラック<span class="cost">1,000</span></div><div class="sale_level"></div>
						<button x-amount="1" class="worker_increment">+1</button><button x-amount="10" class="worker_increment">+10</button><button x-amount="1000" class="worker_increment">マックス</button></div>
					<div class="unlockable" id="unlock_robot" x-type="sales_robot">
						<img x-src="http://static.icecreamstand.ca/robot_thumb.png"><div class="unlock_text">ロボット<span class="cost">5,000</span></div><div class="sale_level"></div>
						<button x-amount="1" class="worker_increment">+1</button><button x-amount="10" class="worker_increment">+10</button><button x-amount="1000" class="worker_increment">マックス</button></div>
					<div class="unlockable" id="unlock_rocket" x-type="sales_rocket">
						<img x-src="http://static.icecreamstand.ca/rocket_thumb.png"><div class="unlock_text">ロケット<span class="cost">50,000</span></div><div class="sale_level"></div>
						<button x-amount="1" class="worker_increment">+1</button><button x-amount="10" class="worker_increment">+10</button><button x-amount="1000" class="worker_increment">マックス</button></div>
				</div>
				<div class="upgrades_inner" style="display: none;">
					<div x-type="machine" id="unlock_machine" class="unlockable">
						<img x-src="http://static.icecreamstand.ca/machine_thumb.png" /><div class="unlock_text">機械<span class="cost">50,000</span></div>
						<div class="sale_level"></div><button>アンロック</button>
					</div>
					<div x-type="autopilot" id="unlock_autopilot" class="unlockable">
						<img x-src="http://static.icecreamstand.ca/autopilot.png" />
						<div class="unlock_text">オートパイロット<span class="cost">250</span></div>
						<div class="sale_level"></div><button x-amount="1" class="worker_increment">+1</button><button x-amount="10" class="worker_increment">+10</button><button x-amount="1000" class="worker_increment">マックス</button>
					</div>
					<div x-type="coldhands" id="unlock_coldhands" class="unlockable">
						<img x-src="http://static.icecreamstand.ca/coldhands.png" />
						<div class="unlock_text">冷たい手<span class="cost">250</span></div>
						<div class="sale_level"></div><button x-amount="1" class="worker_increment">+1</button><button x-amount="10" class="worker_increment">+10</button><button x-amount="1000" class="worker_increment">マックス</button>
					</div>
					<div x-type="frankenflavour" id="unlock_frankenflavour" class="unlockable">
						<img x-src="http://static.icecreamstand.ca/frankenflavour.png" class="tooltip" /><div class="unlock_text">Frankenflavour<span class="cost" id="frankenflavour_amount">1x Lab Parts</span></div><div class="sale_level">0</div><button>アンロック</button>
					</div>
					<div x-type="prestige" id="unlock_prestige" class="unlockable">
						<img x-src="http://static.icecreamstand.ca/prestige_thumb.png" /><div class="unlock_text">威信<span class="cost" id="prestige_amount">*</span></div><div class="sale_level">0</div><div class="button prestige_button">確認する</div>
					</div>
					<div x-type="heroic" id="unlock_heroic" class="unlockable">
						<img src="http://static.icecreamstand.ca/heroic_thumb.png" /><div class="unlock_text">英雄的なティア<span class="cost">2,000,000</span>
						</div><div class="sale_level"></div><button>アンロック</button>
					</div>
					<div x-type="legendary" id="unlock_legendary" class="unlockable">
						<img src="http://static.icecreamstand.ca/legendary_thumb.png" /><div class="unlock_text">伝説のティア<span class="cost">50,000,000</span>
						</div><div class="sale_level"></div><button>アンロック</button>
					</div>
					<div x-type="research" id="unlock_research" class="unlockable">
						<img src="http://static.icecreamstand.ca/research_thumb.png" />
						<div class="unlock_text">フレーバー研究<span class="cost">500</span></div>
						<button>アンロック</button>
					</div>
					<div x-type="research_addon" id="unlock_addon" class="unlockable">
						<img src="http://static.icecreamstand.ca/addon_thumb.png" />
						<div class="unlock_text">アドオンに関する研究<span class="cost">50</span></div>
						<button>アンロック</button>
					</div>
				</div>
				<div class="flavors_inner"></div>
				<div class="toppings_inner" style="display: none;"></div>
				<div class="cones_inner" style="display: none;">
					<div x-type="cone_babycone" id="unlock_cone_babycone" class="unlockable">
						<img x-src="http://static.icecreamstand.ca/cones/baby_thumb.png" /><div class="unlock_text">Baby Cone
						<span class="cost">1,000,000</span>
						<span class="requirement">Requires 25%P</span>
						</div><div class="sale_level"></div><button>アンロック</button>
					</div>
					<div x-type="cone_chocolate" id="unlock_cone_chocolate" class="unlockable">
						<img x-src="http://static.icecreamstand.ca/cones/chocolate_thumb.png" /><div class="unlock_text">Chocolate Dipped Cone
						<span class="cost">10,000,000</span>
						<span class="requirement">Requires 75%P</span>
						</div><div class="sale_level"></div><button>アンロック</button>
					</div>
					<div x-type="cone_sprinkle" id="unlock_cone_sprinkle" class="unlockable">
						<img x-src="http://static.icecreamstand.ca/cones/sprinkle_thumb.png" /><div class="unlock_text">Sprinkle Cone
						<span class="cost">500,000,000</span>
						<span class="requirement">Requires 150%P</span>
						</div><div class="sale_level"></div><button>アンロック</button>
					</div>
					<div x-type="cone_sugarcone" id="unlock_cone_sugarcone" class="unlockable">
						<img x-src="http://static.icecreamstand.ca/cones/sugar_thumb.png" /><div class="unlock_text">Sugar Cone
						<span class="cost">1,000,000,000</span>
						<span class="requirement">Requires 200%P</span>
						</div><div class="sale_level"></div><button>アンロック</button>
					</div>
					<div x-type="cone_waffle" id="unlock_cone_waffle" class="unlockable">
						<img x-src="http://static.icecreamstand.ca/cones/waffle_thumb.png" /><div class="unlock_text">Waffle Cone
						<span class="cost">5,000,000,000</span>
						<span class="requirement">Requires 300%P</span>
						</div><div class="sale_level"></div><button>アンロック</button>
					</div>
					<div x-type="cone_whitechocolate" id="unlock_cone_whitechocolate" class="unlockable">
						<img x-src="http://static.icecreamstand.ca/cones/whitechocolate_thumb.png" /><div class="unlock_text">White Chocolate Cone
						<span class="cost">20,000,000,000</span>
						<span class="requirement">Requires 399%P</span>
						</div><div class="sale_level"></div><button>アンロック</button>
					</div>

				</div>
				<div class="controls_back">BACK</div>
				<div class="controls_show">ALL</div>
				<div class="controls_forward">次</div>
			</div>
		</div>
		<div class="gold">0</div>
		<div class="gold_sales">分当たりの収入: $<span></span></div>
		<div class="floating_footer">
		<div class="login">
			<span id="name"></span>
			<div>
				<a href='' class='view_settings'>オプション</a>
				<a href='stats' class='view_stats'>統計</a>
				<a href='highscores' class='view_highscores'>ハイスコア</a>
				<a href='#' id="donate">寄付する</a>
				<a href='logout'>ログアウト</a>
				<span class="triangle-down"></span>
			</div>
		</div>
		<div class="friends_counter"><span id="count">0</span><div><span class="triangle-down"></span></div></div><input class="friends_add_text" autocomplete="off" placeholder="Friend's name" style="display:none;"><div class="friends_add tooltip" x-type="friend">友達を追加</div>
		</div>
		<div class="cow tooltip" x-type="cow"></div>
	</body>
</html>