<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<meta property="fb:app_id" content="1421033384776672" />
		<meta property="og:url" content="http://icecreamstand.ca" />
		<meta property="og:image" content="http://icecreamstand.ca/img/thumb.png" />
		<meta property="og:title" content="Ice Cream Stand">
		<meta property="og:description" content="Free Browser game where you sell delicious delicious ice cream. Open up a stand, buy workers, unlock flavors.">
		<meta property="og:type" content="website" />
		<meta name="description" content="Ice Cream Stand, an incremental browser game in a global economy. Open up an ice cream stand and sell ice cream. Unlock flavors, upgrades, workers and more!" />
		<link rel="icon" type="image/png" href="http://icecreamstand.ca/img/favicon.png" />
		<title>Ice Cream Stand</title>
	</head>
	<body>
	<link rel="stylesheet" href="css/style_12_21.css" />
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript">
	 function downloadJSAtOnload() {
		var element2 = document.createElement("script");
		var r_c = parseInt(<%= (locals.release_channel)? release_channel : 00 %>);
		element2.src = "/js/main" + r_c + ".js?num=" + (Math.random() * 100);
		document.body.appendChild(element2);
	 }
	 // Check for browser support of event handling capability
	 if (window.addEventListener)
	 window.addEventListener("load", downloadJSAtOnload, false);
	 else if (window.attachEvent)
	 window.attachEvent("onload", downloadJSAtOnload);
	 else window.onload = downloadJSAtOnload;

	</script>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=1421033384776672";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-44957881-1', 'icecreamstand.ca');
	  ga('send', 'pageview');
	</script>
	<div class="section-side">
		<canvas id="canvas_main" style="width: 100%; position: absolute; height: 100%;"></canvas>
		<div id="ice_cream_holder">
			<div style="height: 350px;">
				<div class="icecream">
					<div id="glow"></div>
					<img src="" id="topping" />	
				</div>
			</div>
			<div class="sell_value">
				<div class="current_flavor"></div><span class="current_value" x-type="value"></span>
			</div>
		</div>
	</div>
	<div class="section-main">
		<div class="shop_leftend"></div>
		<div class="shop_rightend"></div>
		<div class="section-main-inner">
			<h1>ICE CREAM STAND</h1>
			<h2 x-step="1"></h2>
			<div class="event"></div>
			<div class="highscores main_container">
					<h4>MOST VALUABLE ICE CREAM STORES IN YOUR AREA
					<div class="flavor_tab" id="hide" style="float: right;margin-top:-5px;">HIDE</div>
					<div class="refresh_highscores button" style="float: right;margin-top:-5px;">REFRESH</div>		
					</h4>
					<div class="button_container">
						<div>
							<div class="flavor_tab active" id="this_day">TODAY</div>
							<div class="flavor_tab" id="this_week">THIS WEEK</div>
							<div class="flavor_tab" id="all_time">ALL TIME</div>
							<div class="flavor_tab" id="referral">REFERRALS</div>
						</div>
						<div>
							<div class="flavor_tab active" id="top_10">TOP 10</div>
							<div class="flavor_tab" id="top_100">TOP 100</div>
						</div>
						</div>
					<ol></ol>
			</div>
			<div class="flavor main_container">  
				<h4>ICE CREAM
						<span class="container_controls">
							<div class="flavor_tab active" x-id="main_base">BASE</div>
							<div class="flavor_tab" x-id="main_addon">ADD-ON</div>
							<div class="flavor_tab" x-id="main_combo">COMBO</div>
							<a class="expand">+</a>
						</span>
				</h4>
					<div id="main_base" class="inner_flavor_container"><span class="base_active"></span></div>
					<div id="main_addon" class="inner_flavor_container"></div> 
					<div id="main_combo" class="inner_flavor_container"></div> 
			</div>
			<div class="quests main_container half_size" style="display: none;">
					<h4>QUESTS
					<span class="container_controls">
						<a class="expand">+</a>
					</span></h4>
					<div class="quest_list"></div>
				</div>
				<div class="achievements main_container half_size" style="display:none;">
					<h4>ACHIEVEMENTS
					<span class="container_controls">
						<a class="expand">+</a>
					</span></h4>
					<div>
						<div class="achievement_list">
							<p class="unlocked"></p>
							<p class="locked" style="display: none;"></p>
						</div>
					</div>
					<a class="add_new" href="new_employee" style="display:none;">ADD NEW EMPLOYEE</a>
				</div>
				<div class="upgrades main_container" style="display:none;">
					<h4>UPGRADES</h4>
					<div>
						<img src="img/store_thumb.png" class="option" x-type="store" style="display:none;" />
						<img src="img/machine_thumb.png" class="option" x-type="machine" style="display:none;" />
						<img src="img/research_thumb.png" class="option" x-type="research" style="display:none;" />
						<img src="img/addon_thumb.png" class="option" x-type="research_addon" style="display:none;" />
						<img src="img/heroic_thumb.png" class="option" x-type="heroic" style="display:none;" />
						<img src="img/legendary_thumb.png" class="option" x-type="legendary" style="display:none;" />
						<img src="img/prestige_thumb.png" class="option" x-type="prestige" style="display:none;" />
					</div>
				</div>
				<div class="chat main_container" style="display:none;">
					<h4>CHAT
					<span class="container_controls">
						<a class="expand">+</a>
					</span></h4>
					<div class="chat_container_main">
						<div id="chat_window">
						</div>
						<form id="new_message" method="POST" action="chat">
							<input type="text" name="text" maxlength="90" placeholder="what would you like to say" autocomplete="off">
							<input type="submit" class="button" value="SEND">
						</form>
					</div>
					<div class="chat_container_list">
						
					</div>
				</div>
				<span class="footer">
					<div class="fb-like" data-href="http://icecreamstand.ca/" data-width="300" data-show-faces="true" data-send="true"></div>
				</span>
		</div>
	</div>
	<div class="section-side" id="upgrades">
			<div class="section_inner">
				<div class="tab active" id="flavors">BASE</div><div class="tab" id="toppings">ADD-ON</div><div class="tab" id="employees">SALES</div><div class="tab" id="upgrades">UPGRADE</div>
				<div class="employees_inner" style="display: none;">
					<div class="unlockable" id="unlock_cart" x-type="sales_cart">
						<img src="img/cart_thumb.png"><div class="unlock_text">Cart <span>25</span></div><div class="sale_level"></div>
						<button x-amount="1">HIRE 1</button><button x-amount="25">HIRE 25</button>
					</div>
					<div class="unlockable" id="unlock_employee" x-type="sales_employee"><img src="img/employee_thumb.png"><div class="unlock_text">Employee <span>200</span></div><div class="sale_level"></div><button x-amount="1">HIRE 1</button><button x-amount="25">HIRE 25</button></div>
					<div class="unlockable" id="unlock_truck" x-type="sales_truck"><img src="img/truck_thumb.png"><div class="unlock_text">Truck <span>1,000</span></div><div class="sale_level"></div><button x-amount="1">HIRE 1</button><button x-amount="25">HIRE 25</button></div>
					<div class="unlockable" id="unlock_robot" x-type="sales_robot"><img src="img/robot_thumb.png"><div class="unlock_text">Robot <span>5,000</span></div><div class="sale_level"></div><button x-amount="1">HIRE 1</button><button x-amount="25">HIRE 25</button></div>
					<div class="unlockable" id="unlock_rocket" x-type="sales_rocket"><img src="img/rocket_thumb.png"><div class="unlock_text">Rocket <span>50,000</span></div><div class="sale_level"></div><button x-amount="1">HIRE 1</button><button x-amount="25">HIRE 25</button></div>
				</div>
				<div class="upgrades_inner" style="display: none;">
					<div x-type="machine" id="unlock_machine" class="unlockable"><img src="img/machine_thumb.png" /><div class="unlock_text">Machinery <span class="cost">50,000</span></div><button>UNLOCK</button></div>
					<div x-type="research" id="unlock_research" class="unlockable"><img src="img/research_thumb.png" /><div class="unlock_text">Flavor Research <span class="cost">500</span></div><button>UNLOCK</button></div>
					<div x-type="research_addon" id="unlock_addon" class="unlockable"><img src="img/addon_thumb.png" /><div class="unlock_text">Add-on Research <span class="cost">50</span></div><button>UNLOCK</button></div>
					<div x-type="heroic" id="unlock_heroic" class="unlockable"><img src="img/heroic_thumb.png" /><div class="unlock_text">Heroic Tier<span class="cost">2,000,000</span></div><button>UNLOCK</button></div>
					<div x-type="legendary" id="unlock_legendary" class="unlockable"><img src="img/legendary_thumb.png" /><div class="unlock_text">Legendary Tier<span class="cost">50,000,000</span></div><button>UNLOCK</button></div>
					<div x-type="prestige" id="unlock_prestige" class="unlockable"><img src="img/prestige_thumb.png" /><div class="unlock_text">Prestige<span class="cost" id="prestige_amount">*</span></div><div class="sale_level">0</div><div class="button prestige_button">CONFIRM</div></div>
				</div>
				<div class="flavors_inner"></div>
				<div class="toppings_inner" style="display: none;"></div>
				<div class="controls_back">BACK</div>
				<div class="controls_show">ALL</div>
				<div class="controls_forward">NEXT</div>
			</div>
		</div>
		<div class="gold">0</div>
		<div class="gold_sales"><div class="nav_triangle inactive"></div>Income per minute: $<span></span></div>
		<div class="main_nav">
			<div class="flavor_tab active" x-id="flavor">FLAVOR</div>
			<div class="flavor_tab" x-id="quests">QUESTS</div><br />
			<div class="flavor_tab" x-id="achievements">ACHIEVEMENTS</div>
			<div class="flavor_tab" x-id="upgrades">UPGRADES</div>
			<div class="flavor_tab" x-id="chat">CHAT</div>		
		</div>
		<div class="floating_footer">
		<div class="login">
			<span id="name"></span>
			<div>
				<a href='' class='view_settings'>SETTINGS</a>
				<a href='stats' class='view_stats'>STATS</a>
				<a href='highscores' class='view_highscores'>HIGHSCORES</a>
				<a href='mailto:avonwodahs+icecream@gmail.com' class='send_feedback' target="_blank">FEEDBACK</a>
				<a href='#' id="invite">INVITE</a>
				<a href='logout'>LOG OUT</a>
				<span class="triangle-down"></span>
			</div>
		</div>
		<div class="friends_counter"><span id="count">0</span><div><span class="triangle-down"></span></div></div><input class="friends_add_text" autocomplete="off" placeholder="Friend's name" style="display:none;"><div class="friends_add tooltip" x-type="friend">Add Friend</div>
		</div>
		<div class="cloud_wrapper"></div>
	</body>
</html>