<!doctype html>
<html lang="<%= (typeof lang == 'undefined')? 'en' : lang %>" ng-app="ics">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"> 
		<meta property="fb:app_id" content="1421033384776672" />
		<meta property="og:url" content="http://icecreamstand.ca" />
		<meta property="og:image" content="http://static.icecreamstand.ca/flogo.png" />
		<meta property="og:title" content="Ice Cream Stand">
		<meta property="og:description" content="Incremental multiplayer clicker game, create an ice cream stand and combine flavours and add-ons. Build an army of workers and raise cows.">
		<meta property="og:type" content="website" />
		<meta name="description" content="Incremental multiplayer clicker game, create an ice cream stand and combine flavours and add-ons. Build an army of workers and raise cows." />
		<link rel="icon" type="image/png" href="http://static.icecreamstand.ca/favicon.png" />
		<title>Ice Cream Stand</title>
		<script type="text/javascript" src="http://icecreamstand.ca/bower_components/angular/angular.js"></script>
		<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="http://icecreamstand.ca/socket.io/socket.io.js"></script>
		<link rel="stylesheet" href="https://s3.amazonaws.com/icecreamstand.com/common.css.gz?patch=149" />
		
		<script type="text/javascript">
			var user = <%- (typeof user != 'undefined')? JSON.stringify(user) : 'null' %>;
			var user_start = user; //legacy
		</script>
		<% if (user.release_channel == 2) { %><script type="text/javascript" src="https://s3.amazonaws.com/icecreamstand.com/main_151.js.gz?cache=1"></script>
		<% } else if (user.release_channel == 1) { %><script type="text/javascript" src="https://s3.amazonaws.com/icecreamstand.com/main_151.js.gz?cache=1"></script>
		<% } else { %><script type="text/javascript" src="https://s3.amazonaws.com/icecreamstand.com/main_151.js.gz"></script><% } %>
	</head>
	<body x-scroll-down="false">
	<div id="fb-root"></div>
	<script>
		(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1421033384776672&version=v2.0";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
	<style> [ng-cloak] { display: none !important; } </style>
	<canvas id="canvas_main" x-resize="true" style="width: 100%; position: fixed; height: 100%;"></canvas>
	<div class="section-side">
		<canvas id="canvas_sales" width="400" height="400"></canvas>
		<div class="icecream">
			<div id="topping"></div>
		</div>
		<div class="sell_value">
			<div class="current_flavor tooltip" x-type="value"></div><span class="current_value"></span>
		</div>

	</div>
	<div class="section-main">
		<div class="shop_top">
			<h1><img src="http://static.icecreamstand.ca/icslogo_small.png" srcset="http://static.icecreamstand.ca/icslogo.png 2x" /><div class="mobile_menu"><i class="fa fa-bars"></i>
</div></h1>
			<div class="shop_leftend"></div>
			<div class="shop_rightend"></div>
		</div>
		<div class="section-main-inner">
			
			<div class="highscores main_container" ng-controller="highscores">
					<h4><span class="lang">Highscores</span>
						<span class="container_controls">
							<div class="refresh_highscores flavor_tab lang">Refresh</div>
							<div class="flavor_tab" id="hide">X</div>
						</span>		
					</h4>
					<div class="button_container highscore_button_container">
						<div>
							<div class="flavor_tab active tab_round_left tooltip lang" x-type="highscore" id="this_day">Today</div>
							<div class="flavor_tab tooltip lang" id="this_week" x-type="highscore">Weekly</div>
							<div class="flavor_tab tooltip lang" id="all_time" x-type="highscore">All Time</div>
							<div class="flavor_tab tooltip lang" id="up_and_coming" x-type="highscore">Upcoming</div>
							<div class="flavor_tab tooltip lang" id="prestige" x-type="highscore">Prestige</div>
							<div class="flavor_tab tooltip lang" id="trend_today" x-type="highscore">Trend sold today</div>
							<div class="flavor_tab tab_round_right tooltip lang" id="cowlv" x-type="highscore">Cow</div>
						</div>
						<div id="button_right">
							<div class="flavor_tab active tab_round_left" id="top_10">10</div>
							<div class="flavor_tab tab_round_right" id="top_100">100</div>
						</div>
						<div id="button_right" x-id="friends">
							<div class="flavor_tab active tab_round_left" id="show_all">All</div>
							<div class="flavor_tab tab_round_right" id="show_friends">Friends</div>
						</div>
					</div>
					<ol></ol>
			</div>
			<div class="flavor main_container" ng-controller="flavourController">  
				<h4><span class="lang">Ice Cream</span>
						<span class="container_controls">
							<div class="flavor_tab" x-id="main_franken" id="frankenflavour_tab" style="display:none;"><span class="lang">Frankenflavour</span></div>
							<div class="flavor_tab active" x-id="main_base"><span class="lang">Flavour</span></div>
							<div class="flavor_tab" x-id="main_addon"><span class="lang">Add-on</span></div>
							<div class="flavor_tab" x-id="main_cone"><span class="lang">Cone</span></div>
							<div class="flavor_tab" x-id="main_combo" ng-click="load_combos()"><span class="lang">Combo</span></div>
							<a class="expand"><span class="lang">Expand</span></a>
						</span>
				</h4>
				<div class="filter">
					<i class="fa fa-sort"></i> Sort
				</div>
					<div id="main_base" class="inner_flavor_container">
						<div ng-repeat="flavour in flavours_unlocked | startFrom:0 | limitTo:5" class="option_wrapper" x-new="true">
							<img ng-src="http://static.icecreamstand.ca/flavours/thumb/{{flavour.name | img_sanitize}}.png.gz" draggable="true" x-id="{{flavour._id}}" class="option tooltip" x-base-value="{{flavour.base_value}}" x-value="{{flavour.value}}" x-type="base" />
						</div>
						<div ng-repeat="flavour in flavours_unlocked | startFrom:currentPage*pageSize + 5 | limitTo:pageSize + 5" class="option_wrapper" x-new="true">
							<img ng-src="http://static.icecreamstand.ca/flavours/thumb/{{flavour.name | img_sanitize}}.png.gz" draggable="true" x-id="{{flavour._id}}" class="option tooltip" x-base-value="{{flavour.base_value}}" x-value="{{flavour.value}}" x-type="base" />
						</div>
						<div class="filter_box" ng-show="flavours_unlocked.length > 20">
							<div ng-click="update_page(currentPage-1)" class="filter_prev button" ng-class="{ 'inactive': currentPage === 0 }">
								<i class="fa fa-arrow-left"></i> BACK
							</div>
							<div class="page_button_container">
								<div class="page_button" ng-repeat="i in pages_flavour() track by $index" ng-click="update_page($index)" ng-class="{ 'active': currentPage == $index }">
									{{$index}}
								</div>
							</div>
							<div ng-click="update_page(currentPage+1)" class="filter_next button" ng-class="{ 'inactive': (currentPage + 1)*pageSize + 5 >= flavours_unlocked.length  }">
								NEXT <i class="fa fa-arrow-right"></i>
							</div>
						</div>
					</div>
					<div id="main_addon" class="inner_flavor_container">
					<div ng-repeat="addon in addons_unlocked | startFrom:0 | limitTo:5" class="option_wrapper" x-new="true">
							<img ng-src="http://static.icecreamstand.ca/addons/thumb/{{addon.name | img_sanitize}}.png.gz" draggable="true" x-id="{{addon._id}}" class="option tooltip" x-base-value="{{addon.base_value}}" x-value="{{addon.value}}" x-type="addon" />
						</div>
						<div ng-repeat="addon in addons_unlocked | startFrom:currentPage*pageSize + 5 | limitTo:pageSize + 5" class="option_wrapper" x-new="true">
							<img ng-src="http://static.icecreamstand.ca/addons/thumb/{{addon.name | img_sanitize}}.png.gz" draggable="true" x-id="{{addon._id}}" class="option tooltip" x-base-value="{{addon.base_value}}" x-value="{{addon.value}}" x-type="addon" />
						</div>
						<div class="filter_box" ng-show="addons_unlocked.length > 20">
							<div ng-click="update_page(currentPage-1)" class="filter_prev button" ng-class="{ 'inactive': currentPage === 0 }">
								<i class="fa fa-arrow-left"></i> BACK
							</div>
							<div class="page_button_container">
								<div class="page_button" ng-repeat="i in pages_addons() track by $index" ng-click="update_page($index)" ng-class="{ 'active': currentPage == $index }">
									{{$index}}
								</div>
							</div>
							<div ng-click="update_page(currentPage+1)" class="filter_next button" ng-class="{ 'inactive': (currentPage + 1)*pageSize + 5 >= addons_unlocked.length  }">
								NEXT <i class="fa fa-arrow-right"></i>
							</div>
						</div>
					</div> 
					<div id="main_combo" class="inner_flavor_container">
						<div class="option_wrapper" ng-repeat="combo in combos | startFrom:currentPage*pageSize + 5 | limitTo:pageSize + 5">
							<div class="combo_option tooltip option" x-type="combo" x-id="{{combo._id}}" x-addon="{{combo.topping_id}}" x-flavor="{{combo.flavor_id}}" x-franken="{{combo.franken_id}}" x-value="{{combo.value}}" x-name="{{combo.name}}" draggable="true" style="background-image:url(http://static.icecreamstand.ca/addons/thumb/{{combo.addon_name | img_sanitize}}.png.gz), url(http://static.icecreamstand.ca/flavours/thumb/{{combo.flavour_name | img_sanitize}}.png.gz)">
								{{combo.name}}
								<!-- <div ng-show="combo.franken_name" class="combo_split" style="background-image: url('http://static.icecreamstand.ca/flavours/thumb/{{ combo.franken_name | img_sanitize}}.png.gz')"></div> -->
							</div>
						</div>
						<div class="filter_box" ng-show="combos.length > 20">
							<div ng-click="update_page(currentPage-1)" class="filter_prev button" ng-class="{ 'inactive': currentPage === 0 }">
								<i class="fa fa-arrow-left"></i> BACK
							</div>
							<div class="page_button_container">
								<div class="page_button" ng-repeat="i in pages_combos() track by $index" ng-click="update_page($index)" ng-class="{ 'active': currentPage == $index }">
									{{$index}}
								</div>
							</div>
							<div ng-click="update_page(currentPage+1)" class="filter_next button" ng-class="{ 'inactive': (currentPage + 1)*pageSize + 5 >= combos.length  }">
								NEXT <i class="fa fa-arrow-right"></i>
							</div>
						</div>
					</div> 
					<div id="main_cone" class="inner_flavor_container">	
						<div ng-repeat="cone in cones_unlocked" class="option_wrapper tooltip" x-type="cone" draggable="true">
							<img x-src="http://static.icecreamstand.ca/cones/thumb/{{cone}}.png.gz" x-type="cone" class="option" x-id="{{cone}}" />
						</div>
					</div> 
			</div><div class="quests main_container half_size" ng-controller="quests">
					<h4><span class="lang">Quests</span>
					<span class="container_controls">
						<a class="expand"><span class="lang">Expand</span></a>
					</span></h4>
					<div class="quest_list"></div>
				</div><div class="trending_and_events main_container half_size hidden">
					<div class="event" ng-controller="events">
						<h4><span class="lang">Events</span></h4>
						<div class="event_container tooltip" x-type="event">
							<span id="event_name"></span>
							<span id="trend_time"></span>
						</div>
					</div>

					<div class="trending" ng-controller="trends">
						<h4><span class="lang">Trends</span><span id="trend_bonus" class="money_icon is_white"></span></h4>
						<div class="trending_container">
							<div class="trending_info">
								<span class="currently_trending_container"></span>
								<div class="vote_container" x-type="vote"></div>
								<div id="trend_sold_outer"><div id="trend_left"></div><div id="trend_sold_inner"></div></div>
							</div>
							<div class="trend_title tooltip" x-type="trending"></div>
							<span id="trend_time"></span>
						</div>
					</div>

			</div><div class="chat main_container" ng-controller="chat">
					<h4><span class="lang">Chat</span>
					<span class="container_controls">
						<div class="chat_rooms"><span class="current_room">{{room_current}}</span> <i class="fa fa-sort-desc"></i>
						<div class="hidden">
							<div ng-repeat="room in rooms" class="chat_room_option" ng-click="change_room(room)" x-id="{{room}}">
								{{room}}<span class="chat_count">{{cached_rooms[room]}}</span>
							</div>
						</div></div>
						<a href="chat" class="chat_popout"><i class="fa fa-expand"></i><span class="lang">Popout</span></a>
						<a class="expand" ng-click="message_expand()" ng-class="{ 'active' : is_expanded }"><span class="lang">{{is_expanded? 'Hide' : 'Expand' }}</span></a>
					</span></h4>
					<div class="chat_container_main">
						<div id="chat_window" ng-class="{ 'chat_active': is_expanded }">
							<div class="chat" ng-repeat="message in messages | startFrom: messages.length - message_count" x-id="{{message._id}}">
								<span class="user_card" x-user="{{message.user}}">
									<img ng-src="http://static.icecreamstand.ca/badges/{{message.badge}}.png" class="chat_badge" /> {{message.user}}
								</span><span class="chat_textbody" ng-bind-html="message.text | chat_sanitize"></span>
								<time class="chat_time">{{message.created_at}}</time>
							</div>
						</div>
						<form novalidate  id="new_message" method="POST">
							<div id="typing"></div>
							<div class="badge_selector">
								<div class="badge_inner">
									<b class="lang">Badges</b><span class="triangle-down"></span>
								</div>
							</div>
							<input ng-model="message.text" type="text" name="text" maxlength="240" placeholder="What would you like to say" autocomplete="off">
							<input type="submit" class="button button_green" value="Send" ng-click="message_send(message)">
						</form>
					</div>
				</div>
				<span class="footer">
					<p>
						<a class="lang" href="http://icecreamstand.wikia.com" target="_blank">Wiki</a>
						<a class="lang" href="http://www.reddit.com/r/icecreamstand/" target="_blank">Reddit</a>
						<a class="lang" href="https://facebook.com/icecreamstand" target="_blank">Facebook</a>
						<a class="lang" href="http://icecreamstand.ca/privacy-policy" target="_blank">Privacy Policy</a>
						<span id="version_info"></span>
					</p>
				</span>
				<div class="fb-like" data-href="https://facebook.com/icecreamstand" data-layout="standard" data-action="like" data-show-faces="false" data-share="true"></div>
				<div class="footer_cows">
				</div>
		</div>
	</div>
	<div class="section-side" id="upgrades" ng-controller="upgrades as upgrades">
			<div class="section_inner">
				<div id="upgrades_tabs">
				<div class="tab active lang" id="flavors">Flavour</div><div class="tab lang" id="toppings">Add-on</div><div class="tab locked lang" id="employees">Worker</div><div class="tab lang" id="cones">Cone</div><div class="tab lang" id="upgrades">Upgrade</div>
				</div>
				<div class="employees_inner" style="display: none;">
					<div class="unlockable" id="unlock_cart" x-worker="cart" x-type="sales_cart">
						<img x-src="http://static.icecreamstand.ca/cart_thumb.png" x-type="sales_cart" class="tooltip" />
						<div class="unlock_text"><span class="lang">Cart</span><span class="cost">25</span ></div>
						<div class="sale_level"></div>
						<button x-amount="1" class="worker_increment">+1</button>
						<button x-amount="10" class="worker_increment">+10</button>
						<button x-amount="1000" class="worker_increment lang">Max</button>
					</div>
					<div class="unlockable" id="unlock_employee" x-worker="employee" x-type="sales_employee">
						<img x-src="http://static.icecreamstand.ca/employee_thumb.png" x-type="sales_employee" class="tooltip" />
						<div class="unlock_text"><span class="lang">Employee</span><span class="cost">200</span></div>
						<div class="sale_level"></div>
						<button x-amount="1" class="worker_increment">+1</button>
						<button x-amount="10" class="worker_increment">+10</button>
						<button x-amount="1000" class="worker_increment lang">Max</button>
					</div>
					<div class="unlockable" id="unlock_truck" x-worker="truck" x-type="sales_truck">
						<img x-src="http://static.icecreamstand.ca/truck_thumb.png" class="tooltip" />
						<div class="unlock_text"><span class="lang">Truck</span><span class="cost">1,000</span></div>
						<div class="sale_level"></div>
						<button x-amount="1" class="worker_increment">+1</button>
						<button x-amount="10" class="worker_increment">+10</button>
						<button x-amount="1000" class="worker_increment lang">Max</button>
					</div>
					<div class="unlockable" id="unlock_robot" x-type="sales_robot" x-worker="robot" class="tooltip" />
						<img x-src="http://static.icecreamstand.ca/robot_thumb.png" x-type="sales_robot" class="tooltip" />
						<div class="unlock_text"><span class="lang">Robot</span><span class="cost">5,000</span></div>
						<div class="sale_level"></div>
						<button x-amount="1" class="worker_increment">+1</button>
						<button x-amount="10" class="worker_increment">+10</button>
						<button x-amount="1000" class="worker_increment lang">Max</button>
					</div>
					<div class="unlockable" id="unlock_rocket" x-worker="rocket" x-type="sales_rocket">
						<img x-src="http://static.icecreamstand.ca/rocket_thumb.png" x-type="sales_rocket" class="tooltip" />
						<div class="unlock_text"><span class="lang">Rocket</span><span class="cost">50,000</span></div>
						<div class="sale_level"></div>
						<button x-amount="1" class="worker_increment">+1</button>
						<button x-amount="10" class="worker_increment">+10</button>
						<button x-amount="1000" class="worker_increment lang">Max</button></div>
					<div class="unlockable" id="unlock_alien" x-worker="alien" x-type="sales_alien">
						<img x-src="http://static.icecreamstand.ca/alien_thumb.png" x-type="sales_alien" class="tooltip" />
						<div class="unlock_text"><span class="lang">Alien</span><span class="cost">500,000</span></div>
						<div class="sale_level"></div>
						<button x-amount="1" class="worker_increment">+1</button>
						<button x-amount="10" class="worker_increment">+10</button>
						<button x-amount="1000" class="worker_increment lang">Max</button>
					</div>
				</div>
				<div class="upgrades_inner" style="display: none;">
					<div x-type="machine" id="unlock_machine" class="unlockable">
						<img x-src="http://static.icecreamstand.ca/machine_thumb.png" class="tooltip" /><div class="unlock_text"><span class="lang">Machinery</span><span class="cost">50,000</span></div>
						<div class="sale_level"></div><button class="lang">Upgrade</button>
					</div>
					<div x-type="autopilot" id="unlock_autopilot" class="unlockable">
						<img x-src="http://static.icecreamstand.ca/autopilot.png" class="tooltip" />
						<div class="unlock_text"><span class="lang">Autopilot</span><span class="cost">250</span></div>
						<div class="sale_level"></div><button x-amount="1" class="worker_increment">+1</button><button x-amount="10" class="worker_increment">+10</button><button x-amount="1000" class="worker_increment">Max</button>
					</div>
					<div x-type="coldhands" id="unlock_coldhands" class="unlockable">
						<img x-src="http://static.icecreamstand.ca/coldhands.png" class="tooltip"  />
						<div class="unlock_text"><span class="lang">Cold Hands</span><span class="cost">250</span></div>
						<div class="sale_level"></div><button x-amount="1" class="worker_increment">+1</button><button x-amount="10" class="worker_increment">+10</button><button x-amount="1000" class="worker_increment">Max</button>
					</div>
					<div x-type="frankenflavour" id="unlock_frankenflavour" class="unlockable">
						<img x-src="http://static.icecreamstand.ca/frankenflavour.png" class="tooltip" /><div class="unlock_text"><span class="lang">Frankenflavour</span><span class="cost">2,000,000</span></div><div class="sale_level">0</div><button class="lang">Unlock</button>
					</div>
					<div x-type="prestige" id="unlock_prestige" class="unlockable">
						<img x-src="http://static.icecreamstand.ca/prestige_thumb.png" class="tooltip" /><div class="unlock_text"><span class="lang">Prestige</span><span class="cost" id="prestige_amount">*</span></div><div class="sale_level">0</div><div class="button prestige_button lang">Unlock</div>
					</div>
					<div x-type="heroic" id="unlock_heroic" class="unlockable">
						<img x-src="http://static.icecreamstand.ca/heroic_thumb.png" class="tooltip" /><div class="unlock_text"><span class="lang">Heroic Tier</span><span class="cost">2,000,000</span>
						</div><div class="sale_level"></div><button class="lang">Unlock</button>
					</div>
					<div x-type="legendary" id="unlock_legendary" class="unlockable">
						<img x-src="http://static.icecreamstand.ca/legendary_thumb.png" class="tooltip" /><div class="unlock_text"><span class="lang">Legendary Tier</span><span class="cost">50,000,000</span>
						</div><div class="sale_level"></div><button class="lang">Unlock</button>
					</div>
					<div x-type="research" id="unlock_research" class="unlockable">
						<img x-src="http://static.icecreamstand.ca/research_thumb.png" class="tooltip" />
						<div class="unlock_text"><span class="lang">Flavor Research</span><span class="cost">500</span></div>
						<button class="lang">Unlock</button>
					</div>					
				</div>
				<div class="flavors_inner">
					<div ng-repeat="flavour in flavours_locked | orderBy:'cost' | limitTo:3" class="unlockable" x-cost="{{flavour.cost}}" x-id="{{flavour._id}}" x-new="true" x-type="base">
							<img ng-src="{{flavour.image}}" class="tooltip" />
						<div class="unlock_text">{{flavour.name}}<span class="cost">{{flavour.cost | number:0}}</span>
						</div>
						<button ng-click="upgrades.purchase('flavour', flavour)">Unlock</button>
					</div>
					<div ng-show="flavours_locked.length === 0">
						<p class="empty">All flavours unlocked</p>
					</div>
				</div>
				<div class="toppings_inner" style="display: none;">
					<div ng-repeat="addon in addons_locked | orderBy:'cost' | limitTo:3" class="unlockable" x-id="{{addon._id}}" x-type="addon" x-new-art="true">
						<div class="unlock_art_wrapper tooltip">
							<img ng-src="{{addon.image}}" />
						</div>
						<div class="unlock_text">{{addon.name}} <span class="cost">{{addon.cost | number:0}}</span></div>
						<button ng-click="upgrades.purchase('addon', addon)">Unlock</button>
					</div>
					<div ng-show="addons_locked.length === 0">
						<p class="empty">All add-ons unlocked</p>
					</div>
				</div>
				<div class="cones_inner" style="display: none;">
					<div ng-repeat="cone in cones | limitTo:3" x-type="cone" x-id="{{cone.name}}" class="unlockable" x-cost="{{cone.cost}}">
						<div style="display: inline-block;" class="option_wrapper tooltip" x-type="cone" x-id="{{cone.name}}">
							<img x-src="http://static.icecreamstand.ca/cones/thumb/{{cone.name}}.png.gz" />
						</div><div class="unlock_text"><span class="lang">{{cone.name}}</span>
						<span class="cost">{{cone.cost | number}}</span>
						</div><div class="sale_level"></div><button class="lang" ng-click="upgrades.purchase('cone', cone)">Unlock</button>
					</div>
				</div>
			</div>
		</div>
		<div class="money_floater" ng-controller="money" ng-cloak>
			<div class="gold" >{{gold | number: (gold > 1000)? 0 : 1}}</div>
			<div class="gold_sales tooltip lang" x-type="ipm">Income per Minute <span class="money_icon"></span>
				<div class="buff_container"></div>
			</div>
		</div>
		<div class="floating_footer">
		<div class="login">
			<span id="name" class="user_card"></span>
			<div>
				<a href='' class='view_settings lang'><i class="fa fa-cog"></i> Settings</a>
				<a href='stats' class='view_stats lang'><i class="fa fa-pie-chart"></i> Stats</a>
				<a href='highscores' class='view_highscores lang'><i class="fa fa-trophy"></i> Highscores</a>
				<a href='#!achievements' class='view_achievements lang'><i class="fa fa-star"></i> Achievements</a>
				<a href='#' id="invite" class="lang"><i class="fa fa-share-alt"></i> Share</a>
				<a href='#' id="feedback" class="lang"><i class="fa fa-bug"></i>  Bug Report</a>
				<a href='#' id="donate" class="lang"><i class="fa fa-usd"></i> Donate</a>
				<a href='#' class="view_credits lang"><i class="fa fa-asterisk"></i> Credits</a>
				<a href='logout' class="lang"><i class="fa fa-arrow-left"></i> Logout</a>
				<span class="triangle-down"></span>
			</div>
		</div>
		<div class="friends_counter">
			<span id="count">0</span>
			<div class="friends_list_holder">
			<div class="friends_list_title">Online</div>
				<div class="friends_list_online"></div>
				<div class="friends_list_title">Away</div>
				<div class="friends_list_away"></div>
				<div class="friends_list_title">Offline <small>Show</small></div>
				<div class="friends_list_offline" x-state="hidden"></div>
				<span class="triangle-down"></span>
			</div>
		</div><div class="friends_button_container"><i class="fa fa-envelope-o"></i></div><form class="search_form"><input class="friends_add_text" autocomplete="off" placeholder="Player" style="display:none;"></form><div class="friends_add tooltip" x-type="search"><i class="fa fa-search"></i></div>
		</div>
		<div class="background_hill">
			<div class="lore" x-link="lore"><div class="lore_book"></div><div class="lore_glow"></div></div>
			<div class="shop tooltip" x-type="shop"></div>
			<div class="silo tooltip" x-type="silo"><b class="silo_bar"></b></div>
			<div class="cow" x-type="cow"></div>
		</div>
		<link rel="stylesheet" href="http://static.icecreamstand.ca/font-awesome-4.2.0/css/font-awesome.min.css" />
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-44957881-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
	</body>
</html>