<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"> 
		<meta property="fb:app_id" content="1421033384776672" />
		<meta property="og:url" content="http://icecreamstand.ca" />
		<meta property="og:image" content="http://icecreamstand.ca/img/thumb.png" />
		<meta property="og:title" content="Ice Cream Stand">
		<meta property="og:description" content="Free Browser game where you sell delicious delicious ice cream. Open up a stand, buy workers, unlock flavors.">
		<meta property="og:type" content="website" />
		<meta name="description" content="Incremental browser game where you open an ice cream stand and sell ice cream. Unlock flavors, add-ons, workers, and raise a cow!" />
		<link rel="icon" type="image/png" href="http://static.icecreamstand.ca/favicon.png" />
		<title>Sign Up - Ice Cream Stand</title> 
		<style>
			.new_user { position: relative; }
			i.back_button {
				top: 50px;
				cursor: pointer;
				position: absolute;
				left: 10px;
				width: 50px;
				font-size: 40px;
				color: #5C59B8;
			}
			.icecream.active > img {
			    margin-top: 62px;
			    width: 200px;
			}
		</style>
	</head>
	<body>
		<link rel="stylesheet" href="https://s3.amazonaws.com/icecreamstand.com/common.css.gz" />
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script>
			var flavours = ['vanilla', 'chocolate', 'strawberry', 
			'grape', 'orange', 'banana', 'pistachio', 'almond', 
			'raspberry', 'blueberry', 'cherry', 'hazelnut', 'mocha', 'coffee',
			'pumpkin', 'caramel', 'maple', 'mango', 'peach', 'cottoncandy', 'candycane', 'avocado', 'bubblegum',
			'cakebatter', 'bread', 'mint',
			'zombie', 'ghost', 'lemon', 'mocha', 'glass', 'uranium', 'bacon',
			'anti-matter', 'rainbow', 'ham'];
			var addons = ['cherries', 'sprinkles', 'jelly beans', 'peanuts', 'gummy worms', 'peanut butter', 'onions', 'honey', 'berry jelly',
			'gummy sodas', 'blackberries', 'raspberries', 'chopped strawberries', 'marshmallow cream', 'vanilla frosting', 'chocolate frosting', 'crumbled candy bars', 'sugar cookies',
			'crumbled brownies', 'crumbled fudge', 'red velvet cake', 'cookie dough', 'm&m\'s', 'oreo',
			'chocolate chips', 'white chocolate chips', 'dark chocolate chips', 'pecans', 'acorns', 'almonds', 'gumballs', 'mini marshmallows', 'candied lemon rinds',
			'rice', 'chili peppers', 'gravy', 'coconut', 'peas', 'fudge ripple', 'chopped peaches', 'chopped pineapple',
			'croutons', 'fries', 'olives', 'candied bacon', 'bacon', 'shrimp', 'blueberries', 'raisins', 'waffles', 'cheese',
			 'eyeballs', 'bat wings', 'nuts and bolts', 'warts', 'oil', 'sausage', 'pepperoni', 'ram', 'egg'];
			var cones = ['default', 'sprinkle', 'chocolate', 'whitechocolate', 'sugarcone'];

			var sign_up = <%= (typeof sign_up != 'undefined') %>;
			var refer = atob(getURLParameter('refer'));
			$(document).ready(function () {
				update_bg();
				setInterval( function () { update_bg(); }, 60000);
				$('#new_game_button').click(function () {	
					$('.screen_1').slideUp(100);
					$('.new_game').slideDown(100);
					$('.alert').slideUp(500);
				});
				$('#continue_button').click(function () {	
					$('.screen_1').slideUp(100);
					$('.continue').slideDown(100);
					$('.alert').slideUp(500);
				});
				$('#forgot').click(function () {	
					$('.screen_1, .new_game, .continue').slideUp(100);
					$('.forgot_container').slideDown(100);
				});
				$('.icecream').click(function () {
					update_bg();
				});
				$('.back_button').click(function () {
					$('.screen_1').slideDown(100);
					$('.new_game, .continue, .forgot_container').slideUp(100);  
				});
				if (window.location.search.substring(1) == 'signed_succes=0') {
					$('h2').text('Can\'t start a new game :( That name might be taken');
				}

				if (sign_up) {
					$('#new_game_button').click();
					if (getURLParameter('refer') != 'null') {
						$('.new_game form').prepend('<p>You are being refered by <span class="user_name">' + refer + '</span>. Sign up and beat the first quest to help him or her out!</p>' +
						'<input type="hidden" name="refer" value="' + refer + '">');
					}
				}
			});

			function update_bg() {
				var flavour = flavours[ Math.floor( Math.random() * flavours.length ) ];
				var cone = cones[ Math.floor( Math.random() * cones.length ) ];
				var addon = addons[ Math.floor( Math.random() * addons.length ) ];
				$('.icecream.active').css('background-image', 'url("http://static.icecreamstand.ca/flavours/' + flavour + '.png.gz"), url("http://static.icecreamstand.ca/cones/' + cone + '.png.gz")');
				$('#addon').attr('src', 'http://static.icecreamstand.ca/addons/' + addon.replace(/\W/g, '') + '.png.gz');
			}
			function getURLParameter(name) {
				return decodeURI(
					(RegExp(name + '=' + '(.+?)(&|$)').exec(location.search)||[,null])[1]
				);
			}
		</script>
		<div class="section-side">
			<div id="ice_cream_holder">
				<div style="height: 350px;">
					<div class="icecream active" style='display: block; background-position: center 115px, center bottom;'><img src="" id="addon" /></div>
				</div>
			</div>
		</div><div class="section-main">
			<div class="shop_top">
				<h1><img src="http://static.icecreamstand.ca/icslogo_small.png" srcset="http://static.icecreamstand.ca/icslogo.png 2x" /></h1>
				<div class="shop_leftend"></div>
				<div class="shop_rightend"></div>
			</div>
			<div class="section-main-inner">			
				<% if (typeof alert != 'undefined')	{ %> <div class="alert"><%= alert %></div> <% } %>

				<div class="new_user main_container">
					<h2>Start Playing</h2>		
					<div class="screen_1" style="margin: 50px auto;">
						<div class="button signup_input" id="new_game_button" style="text-align: center;">New Game</div>
						<div class="button signup_input" id="continue_button" style="text-align: center;">Continue</div>
						<a href="/auth/facebook" class="button button_facebook signup_input" id="continue_button" style="box-shadow: 0 2px 0 #102e6d; text-align: center; display: table;"><i class="fa fa-facebook"></i> Log in with Facebook</a>
					</div>
					<div class="new_game" style="display: none;">
						<i class="back_button fa fa-arrow-left"></i>
						<form action="signup" method="POST">
							<input class="signup_input" type="text" name="name" placeholder="Username" autocomplete="off">
							<input class="signup_input" type="password" name="password" placeholder="Password (OPTIONAL)" autocomplete="off">
							<input class="signup_input" type="text" name="email" placeholder="Email (OPTIONAL)" autocomplete="off">
							<input class="signup_input button button_green" type="submit" value="START" class="button">
						</form>
					</div>
					<div class="continue" style="display: none;">
						<i class="back_button fa fa-arrow-left"></i>
						<form action="login" method="POST">
							<input class="signup_input" type="text" name="user" placeholder="Username">
							<input class="signup_input" type="password" name="password" placeholder="Password">
							<input class="signup_input button button_green" type="submit" value="Log In">
						</form>
						<a href="#" id="forgot">Forgot your password?</a>
					</div>
					<div class="forgot_container" style="display: none;">
						<h4>Don't sweat - it happens! What was your email address?</h4>
						<img src="img/back-icon.png" class="back_button" />
						<form action="forgot" method="POST">
							<input class="signup_input" type="text" name="email" placeholder="Email">
							<input class="signup_input button" type="submit" value="Reset My Password">
						</form>
					</div>
				</div>
				<div class="login_pitch">
					<p>
						Open an Ice Cream Stand and <b>sell exciting and weird flavours</b> in the global economy. Hire workers, research flavours and add-ons.
					</p>
					<img src="http://static.icecreamstand.ca/flavours/thumb/vanilla.png.gz" />
				</div>
				<div class="login_pitch">
					<img src="http://static.icecreamstand.ca/questicon.png" />
					<p>
						Complete Quests and <b>rescue the Ice Cream Princess.</b> No two dynamic quests are the same!
					</p>
				</div>
				<div class="login_pitch">
					<p>
						Raise a cow. Give him loot, and use him to grow your Ice Cream empire.
					</p>
					<img src="http://static.icecreamstand.ca/skins/default.png" class="no_background" />
				</div>
		</div></div><div class="section-side" id="upgrades">
		</div>
		<div class="background_hill">
			<div class="cow" x-type="cow"></div>
			<div class="shop tooltip" x-type="shop"></div>
		</div>
		<link rel="stylesheet" href="http://static.icecreamstand.ca/font-awesome-4.2.0/css/font-awesome.min.css" />
	</body>
</html>