<!doctype html>
<html lang="<%= (typeof lang != 'undefined')? lang : 'en' %>">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"> 
    <meta property="fb:app_id" content="1421033384776672" />
    <meta property="og:url" content="http://icecreamstand.ca" />
    <meta property="og:image" content="http://icecreamstand.ca/img/thumb.png" />
    <meta property="og:title" content="Ice Cream Stand">
    <meta property="og:description" content="Free Browser game where you sell delicious delicious ice cream. Open up a stand, buy workers, unlock flavors.">
    <meta property="og:type" content="website" />
    <meta name="description" content="Ice Cream Stand, an incremental browser game in a global economy. Open up an ice cream stand and sell ice cream. Unlock flavors, upgrades, workers and more!" />
    <link rel="icon" type="image/png" href="http://icecreamstand.ca/img/favicon.png" />
    <title><%= (typeof title != 'undefined')? title + ' - ' : '' %> Ice Cream Stand</title>
  </head>
  <body>
  <link rel="stylesheet" href="https://s3.amazonaws.com/icecreamstand.com/common.css.gz" />
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  
  <a href="http://icecreamstand.ca/" class="subpage_logo">
    <img src="http://static.icecreamstand.ca/icslogo_small.png" srcset="http://static.icecreamstand.ca/icslogo.png 2x">
  </a>
  <div style="text-align: left; margin: 20px auto; display: block; max-width: 960px; background-color: #fff; padding: 20px; padding-bottom: 60px;">
  
  <% if (typeof alert != 'undefined') { %> <div class="alert"><%= alert %></div> <% } %>
  
<h1 style="display: static;">Privacy Policy</h1>

<h3>Information that is gathered from visitors</h3>
In common with other websites, log files are stored on the web server saving details such as the visitor's IP address, browser type, referring page and time of visit.

Cookies may be used to remember visitor preferences and the visitor's Ice Cream Stand account when interacting with the website.

Where registration is required, the visitor's email and a username will be stored on the server.

<h3>How the Information is used</h3>
The information is used to enhance the vistor's experience when using the website to display personalised content and possibly advertising.

<b>E-mail addresses will not be sold, rented or leased to 3rd parties.</b>

E-mail may be sent to inform you of news of our services or offers by us or our affiliates.

<h3>Visitor Options</h3>
If you have subscribed to one of our services, you may unsubscribe by following the instructions which are included in e-mail that you receive.

You may be able to block cookies via your browser settings but this may prevent you from access to certain features of the website.

<h3>Cookies</h3>
Cookies are small digital signature files that are stored by your web browser that allow your preferences to be recorded when visiting the website. Also they may be used to track your return visits to the website.

Ice Cream stand does not use 3rd party advertising companies.
